<div class="profile">
    <form>
        {{{closeButton}}}
        <div class="form-title">Ваш профиль</div>
        <div class="person">
            <div class="person__avatar">
                <img src="{{{avatar}}}" alt="avatar">
            </div>
            <div>
                <div class="person__name">{{firstname}} {{lastname}}</div>
                <div class="person__login">@{{login}}</div>
                <div class="person__description">{{description}}</div>
            </div>
        </div>
        {{{avatarInput}}}
        {{{loginInput}}}
        {{{firstnameInput}}}
        {{{lastnameInput}}}
        {{{displayNameInput}}}
        {{{descriptionInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
        {{{saveButton}}}
    </form>
</div>
