<div class="sign-up">
    <form>
        <div class="form-title">Регистрация</div>
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstnameInput}}}
        {{{lastnameInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
        {{{confirmationPasswordInput}}}
        {{{signUpButton}}}
    </form>
</div>
